CONFIG_IDF_TARGET="esp32s3"

CONFIG_EXAMPLE_WIFI_SSID=
CONFIG_EXAMPLE_WIFI_PASSWORD=

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"